<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Xin chào</title>
</head>
<body>
<!--<h1 th:text="${message}">Xin chào . Đây là trang chủ </h1>-->
<h2>Bài thực hành : <a href="manageUser">Quản lý nhân viên</a></h2>
<h2>Bài tập : <a href="manageProduct">Quản lý sản phẩm</a></h2>
<!--<h1 th:if ="${a < 0}"> Bien a nho hon 0</h1>-->
<!--<h1 th:unless="${a < 0}"> Bien a lon hon hoac bang 0</h1>-->
<!--<h1 th:text="${a < 0}?'Bien lon hon 0':'Sai'"></h1>-->
<!--<form th:object="${user}">-->
<!--    <input type="text" th:field="*{name}">-->
<!--</form>-->
<!--<table th:each="user : ${users}" >-->
<!--    <tr>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.email}"></td>-->
<!--</tr>-->
<!--</table>-->
<div th:replace="/views/menu :: menu"></div>
</body>
</html>
